<% provide(:title, "help") %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> |SpeakItApp /title>
  </head>
  <body>
    <h1>Help</h1>
  <p>The help page</p>ß
  </body>
</html>
